<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/navigation.ejs") %>

  <div class="blogs content">
    <h2>All Blogs</h2>

    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        <a class="single" href="/blogs/<%= blog._id %>">
          <h3 class="title"><%= blog.title %></h3>
          <p class="snippet"><%= blog.snippet %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no blogs to display...</p>
    <% } %>
    
  </div>
  <div class="contacts content">
    <h2>All Contacts</h2>
    <% if (contact.length > 0) { %>
      <% contact.forEach(register => { %>
        <a class="single" href="/contact/<%= register._id %>">
          <h3 class="title"><%= register.title %></h3>
          <p class="snippet"><%= register.snippet %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no contacts to display...</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>